* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main .post .social {
  margin-bottom: 2px;
}

main .post .social img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 15px;
}
main .post .social h4 {
  margin: 0;
  color: rgb(128, 69, 69);
}

/* for medium screen */
/* @media only screen and (min-width: 768px) {
  
}

/* for large screen */
/* @media only screen and (min-width: 1024px) {
 
} */
